<div class="container-fluid bg-dark m-0" style="height:100vh">
  <a href="/admin/productos"><button class="btn btn-secondary my-4">Volver</button></a>
  <div class="row">
    <div class="col-6 m-auto my-5">
      <h2 class="text-white">Actualizar Producto</h2>
      <form method="post" action="/admin/productos/update/{{producto.id}}" class="form" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="nombre" class="form-label text-white">Nombre <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" id="nombre" name="nombre" value="{{producto.nombre}}" required="required">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label text-white"> Categoria <span class="text-danger">*</span></label>
          <select name="id_categoria" class="form-select" aria-label="Default select example">
            <option selected value="{{producto.id_categoria}}">{{producto.nombreCategoria}}</option>
            {{#each categorias}}
            <option value="{{id}}">{{nombre}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label text-white"> Descripción <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{producto.descripcion}}" required="required">
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label text-white"> Precio <span class="text-danger">*</span></label>
          <div class="input-group">
          <div class="input-group-text" id="price">$</div> 
          <input type="number" class="form-control" id="precio" name="precio" value="{{producto.precio}}" required="required">
          </div>
        </div>
        <div class="mb-3">
          <label for="imagen" class="form-label text-white"> Imágen <span class="text-danger">*</span></label>
          <img src="/images/{{producto.uid}}" alt="No hay img" class="table-img-size my-3">
          <input type="file" class="form-control" id="imagen" name="imagen" required="required">
        </div>
        <button type="submit" class="btn btn-secondary">Actualizar</button>
      </form>
    </div>
  </div>
</div>