<div class="container">
  <a href="/admin"><button class="btn btn-secondary my-4">Volver</button></a>
  <h1>PRODUCTOS</h1>
  <div class="row">
    <a href="/admin/productos/create" class="btn btn-info my-4">Agregar Producto</a>
    <div class="col-md-12">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Categoria</th>
              <th scope="col">Precio</th>
              <th scope="col">Imágen</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each productos}}
            <tr>
              <th scope="row"> {{id}} </th>
                <td> {{nombre}} </td>
                <td> {{descripcion}} </td>
                <td> {{nombreCategoria}} </td>
                <td>$ {{precio}} </td>
                <td><img src="/images/{{uid}}" alt="No hay img" class="table-img-size"></td>
                <td> 
                  <a href="/admin/productos/delete/{{id}}" class="btn btn-danger">
                    eliminar
                  </a>
                  <a href="/admin/productos/update/{{id}}" class="btn btn-warning">
                    editar
                  </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
      </table>
    </div>
  </div>
</div>